  h2{
    color: rgb(12, 12, 85);
    padding: 20px;
    text-decoration: none;

  }
  
  /* Estilo para las imágenes de perfil de los empleados y sus subtítulos */
 
  

/* Estilo para el formulario */
form {
  max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Center the content horizontally */
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form select,
form textarea {
  width: calc(100% - 20px); /* Adjusted width to accommodate padding */
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form textarea {
  resize: vertical;
}

form button {
  background-color: #150c46f6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Make the button full-width */
}

form label.checkbox-label {
  display: flex;
  align-items: center;
}

form input[type="checkbox"] {
  margin-right: 1px;
}

/* Estilo para el mapa */
.map {
  margin-top: 20px;
}

/* Estilo para las redes sociales en el pie de página */
.sociallinks a {
  margin-right: 10px;
}

/* Estilo para la imagen del mapa en el boceto de la estructura alámbrica */
.map img {
  max-width: 100%;
  height: auto;
}

  
  
  footer {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: white;
  }
  
  footer nav {
    display: flex;
    align-items: center;
}
  
  footer a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  .sociallinks {
    display: flex; 
    align-items: center;
  }   

  .sociallinks a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
  }
  
  .sociallinks img {
    max-width: 30px;
    height: auto;
    
  }

