/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Define color variables */
:root {
  --primary-color: #144380ce;
  --secondary-color: #0080c0;
  --text-color: #333;
  --background-color: #fff;
  }
  
  /* Basic styling */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  }
  
/* Header styling */
header {
  margin: auto;
  display: grid;
  grid-template-columns:  1fr 2fr;
  align-items:center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
  background-color: var(--primary-color);
  color: #fff;
 
  }
  
  header img {
    margin: 0 0.25rem 0 1rem;
	  width: 64px;
	  height: auto;
    border-radius: 50%;
  }
    
  nav {
    text-align: center;
  }
    
  .navigation {
    display: flex;
    list-style: none;
  }
  
  .navigation li {
    flex: 1 1 100%;
  }
  
  .navigation a {
    display: block;
    color: rgb(213, 213, 236);
    padding: 20px;
    text-decoration: none;
  }
  
  .navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
/* Hero styling */
  .hero {
  position: relative;

  }
  .hero img {
    display: block;
    max-width:1000px;
    height: auto;
  }
  
  .hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(28, 54, 204, 0.445);
    Background-color: rgba(187, 206, 209, 0.562);
    font-size: 3rem;
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(199, 198, 216, 0.5);
    padding: 10px;
    border-radius: 5px;
    max-width: 100%; 
    box-sizing: border-box;
  }
  
  .hero article {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(231, 230, 230, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 90%; /* Porcentaje del ancho de la ventana */
    box-sizing: border-box;
  }
  
  .hero article img {
    float: right;
    width: 150px;
    height: auto;
    margin-left: 20px;
  }
  
  section {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
  }

  section img {
    display: block;
    width: 100%
   
  }
  section h2{
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 10px;

  }
  .section-with-figures h2 {
    color: var(--primary-color);
    max-width: 1000px;
    margin-bottom: 10px;
    text-align: center;
  }
  .section-with-figures {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center; 
    align-items: center;
    flex-direction: row; 

  }
       
  .section-with-figures figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5px;
    max-width: 1000px; 
    margin: 10px; 
    box-sizing: border-box; 
  }
  
  .section-with-figures img {
    max-width: 100%;
    max-height: none;
  }
  
  .section-with-figures figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
  
  footer {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: white;
  }
  
  footer nav {
    display: flex;
    align-items: center;
}
  
  footer a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  .sociallinks {
    display: flex; 
    align-items: center;
  }   

  .sociallinks a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
  }
  
  .sociallinks img {
    max-width: 30px;
    height: auto;
    
  }

